/* Importing Tailwind preflight styles */
@import "tailwindcss/preflight";

/* Importing Tailwind utilities */
@import "tailwindcss/utilities";

@import "tailwindcss";

@theme {
  --color-primary: #cd1c26;
}

.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #cd1c26;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/bannerimg.jpg");
  background-size: cover;
  background-position: center;
}

.section {
  scroll-margin-top: 100px;
}

.loan-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* Slick carousel overrides */
.slick-track {
  padding: 20px !important;
}

.slick-list {
  height: 350px;
}

.slick-next:before,
.slick-prev:before {
  font-family: slick;
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: #cd1c26 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 768px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

select option:hover {
  background-color: #cd1c26 !important;
  /* Red background on hover */
  color: white;
  /* White text color on hover */
}
